<!doctype html>
<html lang="en">
<body>
<p>
Hello, here's your weather update for today in {{ city }}.<br>
Weather Overview - {{ description }}.<br>
The current temperature is {{ current_temperature }}{{ unit_symbol }} and it feels like {{ feels_like }}{{ unit_symbol }}<br>
The maximum temperature for today is {{ max_temperature }}{{ unit_symbol }}<br>
The minimum temperature for today is {{ min_temperature }}{{ unit_symbol }}.<br><br><br>
</p>
<a  href={{ url_unsub }} >Click here to unsubscribe</a>
</body>
</html>
